
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #333;
    color: #fff;
    height: 80px; 
    padding: 10px;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}


nav {
    display: flex;
    justify-content: center; 
    background-color: #333;
    color: #fff;
    height: 60px; 
    margin-bottom: 5%;
}

nav {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

nav {
    background-color: #555;
    padding: 20px;
    color:b ;
}

nav ul li
{
    padding:15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: darkgray;
    display: inline;
    border:2px solid ;
    border-radius: 2px;
    
    
}

nav ul li:hover
{
    background-color: lightpink;
}

aside {
    width: 33%;
    float: right; }
    
    footer {
       
        
        bottom: 0;

        
        height:60px; 
        width: 100%;
        align-items: baseline;
        background-color: #333;
        color: grey;
        text-align: center;
        margin-top: auto;
        
    }
    body{
        padding: auto;
        margin:auto;
        display: flex;
        flex-direction: column;
        
    }
    .Charlie{
        border:white solid 5px;
        margin-left: 25%;
        margin-right:25%;
        width: 50%;
        float: right;
        
    }
    label {
        float: left;
        width: 112px;
        padding-right: 10px;
        text-align: right;
      }
      input {
        margin-left: 1em;
        margin-bottom: .5em;
        width: 220px;
      }
      #button, #reset {
        margin-top: .5em;
        width: 8em;
        background-color:grey;
        border: 2px solid black;
        
      }
      #reset:hover{

        background-color: salmon;
      }
      input[type="checkbox"] {width: 15px;}
       #button:hover{

        background-color: salmon;
       }
      #button {
      margin-left: 138px;
      }
       
      #reset {
      margin-left: 82px;}
      input[type="radio"] {width: 10px;}

      .row{
        display: flex;
      }
      .column{
        flex: 50%;
      }
    

      